@font-face {
  font-family: 'dream';
  src: url("../fonts/dream.otf") format("opentype");
  font-style: normal;
}
body {
  margin: 0 0 0 0;
  font-family: dream;
  font-size: 25px;
}
#topMenu {
    height: 10%;
    width: 100%;
    background-color: white;
    position: fixed;
    border: 1px solid black;
}
#topMenu ul li {
    list-style: none;
    float: left;
    vertical-align: middle;
    text-align: center;
}
#topMenu .menuLink {
    text-decoration:none;
    color: black;
    display: block;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    line-height: 300%;
}

body {
    margin: 0 0 0 0;
}

.btu {
  float: right;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #e5ab8e9e;
  color: #ffffff;
  font-size: 18px;
  border: 0px solid #e5ab8e9e;
  margin-top: 10%;
}

#btu2 {
  margin-right: 100px;
}

#btu1 {
  margin-right: 1%;
}